html,
body {
	height: 100%;
	background-color: gainsboro;
}

.flex-container {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.board-container {
	height: 100%;
	width: 100%;
}

.board {
	width: 618px;
}

.square {
	width: 200px;
	height: 200px;
	border: 3px solid mediumslateblue;
}